In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("iris.csv")
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
data['Species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [4]:
data.Species.value_counts()

virginica     50
versicolor    50
setosa        50
Name: Species, dtype: int64

In [5]:
colnames = list(data.columns)

In [6]:
predictors = colnames[:4]
target = colnames[4]

In [7]:
# Splitting data into training and testing data set

import numpy as np

# np.random.uniform(start,stop,size) will generate array of real numbers with size = size
data['is_train'] = np.random.uniform(0, 1, len(data))<= 0.75
data['is_train']
train,test = data[data['is_train'] == True],data[data['is_train']==False]

In [8]:
from sklearn.model_selection import train_test_split
train,test = train_test_split(data,test_size = 0.2)

In [9]:
from sklearn.tree import  DecisionTreeClassifier

In [10]:
model = DecisionTreeClassifier(criterion = 'entropy')
model.fit(train[predictors],train[target])

DecisionTreeClassifier(criterion='entropy')

In [11]:
preds = model.predict(test[predictors])
preds

array(['versicolor', 'virginica', 'versicolor', 'virginica', 'virginica',
       'virginica', 'setosa', 'setosa', 'virginica', 'setosa', 'setosa',
       'setosa', 'virginica', 'virginica', 'versicolor', 'virginica',
       'virginica', 'setosa', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'setosa', 'versicolor', 'setosa', 'versicolor',
       'setosa', 'virginica', 'versicolor', 'setosa'], dtype=object)

In [12]:
pd.Series(preds).value_counts()

virginica     11
setosa        11
versicolor     8
dtype: int64

In [13]:
pd.crosstab(test[target],preds)

col_0       setosa  versicolor  virginica
Species
setosa          11           0          0
versicolor       0           8          1
virginica        0           0         10

In [14]:
# Accuracy = train
np.mean(train.Species == model.predict(train[predictors]))

1.0

In [15]:
# Accuracy = Test
np.mean(preds==test.Species) # 1

0.9666666666666667